<?php /* @var $block \Vetal\Brands\Block\Product\View\Brands */?>
<?php $_brandImage = $block->getBrandImageByProduct() ?>
<h3><?php echo '<img src="' . $_brandImage . '" alt="Brand image" width="75px" height="75px" />'; ?></h3>
