<?php
    /** @var $block \Vetal\Brands\Block\Brands */
?>
<br />
<div class="'table-wrapper">
    <table class="data table table-order-items" id="brands-table">
        <caption class="table-caption"><?php echo __('Brands Record') ?></caption>
        <thead>
        <tr>
            <th scope="col" class="col id"><?php echo __('ID') ?></th>
            <th scope="col" class="col title"><?php echo __('Title') ?></th>
            <th scope="col" class="col description"><?php echo __('Description') ?></th>
            <th scope="col" class="col image-url"><?php echo __('Image Url') ?></th>
            <th scope="col" class="col image"><?php echo __('Image') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($block->getAllBrands() as $brand) : ?>
        <tr>
            <td data-th="<? $block->escapeHtml(__('ID'))?>" class="col id">
                <?= $brand->getId(); ?>
            </td>
            <td data-th="<? $block->escapeHtml(__('Title'))?>" class="col title">
                <?= $brand->getTitle(); ?>
            </td>
            <td data-th="<? $block->escapeHtml(__('Description'))?>" class="col description">
                <?= $brand->getDescription(); ?>
            </td>
            <td data-th="<? $block->escapeHtml(__('Image Url'))?>" class="col image-url">
                <?= $brand->getImageUrl(); ?>
            </td>
            <td class="col id">
                <img src="<?= $brand->getImageUrl(); ?>" alt="Brand Image" width="100px" height="100px"/>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

